* {

  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpreview.redd.it%2Flzp4k0q4ysc41.jpg%3Fauto%3Dwebp%26s%3De8568173712dab42d19a550eb5db7c1390ac8c6c&f=1&nofb=1);
}


.App {
  text-align: center;
}

.App-logo {
  width: 100%;
  height: 500px;
  pointer-events: none;
}
.fullstack {
  width: 100%;
  height: 400px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  
  text-decoration-color: aliceblue;
}
span {
 
  padding: 10px;
}
.title {
  text-align: left;
}